@import "tailwindcss";


@font-face {
  font-family: 'Agrandir Regular';
  src: url('/fonts/Agrandir-Regular.otf') format('opentype');
  font-weight: 400;
}
@font-face {
  font-family: 'Agrandir Bold';
  src: url('/fonts/Agrandir-TextBold.otf') format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: 'Agrandir Heavy';
  src: url('/fonts/Agrandir-GrandHeavy.otf') format('opentype');
  font-weight: 900;
}

@font-face {
  font-family: 'Agrandir Light';
  src: url('/fonts/Agrandir-GrandLight.otf') format('opentype');
  font-weight: 300;
}

@theme {
  --font-agrandir: "Agrandir Regular", sans-serif;
  --font-agrandir-bold: "Agrandir Bold", sans-serif;
  --font-agrandir-heavy: "Agrandir Heavy", sans-serif;
  --font-agrandir-heavy: "Agrandir Heavy", sans-serif;
  --font-agrandir-light: "Agrandir Light", sans-serif;

    /*background color*/
  --color-background: #110F0F;

  /*text color*/
  --color-secondary: #FFFFFF99;
  --color-accent: #728095;
  
  /*border color*/
  --color-border: #A1AEBF;

  /*blur color*/
  --color-tag-orange: #EF9364;
  --color-tag-purple: #8B7BCF;
  --color-tag-yellow: #FFC501;
  --color-tag-blue: #1A365D;

  /*accent color*/
  --color-primary: #FFA800;
}
@layer utilities {
  .text-gradient-custom {
    background: #9F8CED;
    background: -webkit-linear-gradient(30deg, rgba(159, 140, 237, 1) 0%, rgba(250, 124, 11, 1) 49%, rgba(157, 232, 238, 1) 100%);
    background: -moz-linear-gradient(30deg, rgba(159, 140, 237, 1) 0%, rgba(250, 124, 11, 1) 49%, rgba(157, 232, 238, 1) 100%);
    background: linear-gradient(30deg, rgba(159, 140, 237, 1) 0%, rgba(250, 124, 11, 1) 49%, rgba(157, 232, 238, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9F8CED", endColorstr="#9DE8EE", GradientType=0);
    background-clip: text;
    color: transparent;
    width: fit-content;
  }
}
