---
import logo from "../assets/logo.svg"
import { Image } from 'astro:assets';
---
<div class="flex items-center gap-3">
    <Image src={logo} alt="" width={40}}/>
    <h1 class="font-agrandir-heavy text-white">
        GetWebsy
    </h1>
</div>