---
import CarruserTecnologies from "./ui/animation/CarruselTecnologies";
import Container from "./ui/containers/Container.astro";
import Heading1 from "./ui/texts/Heading1.astro";
import Paragraph from "./ui/texts/Paragraph.astro";
---

<section class="bg-black py-10">
  <Container class="flex flex-col md:flex-row items-center gap-8 px-4 md:px-0">
    <Heading1 class="w-full md:w-1/2 text-white text-center md:text-left">
      Usamos herramientas líderes en la industria web
    </Heading1>
    <Paragraph class="w-full md:w-1/2 text-center md:text-left">
      En GetWebsy utilizamos tecnologías modernas y confiables como Next.js, Supabase y Vercel para crear sitios rápidos, seguros y escalables, garantizando una experiencia web profesional para tu negocio.
    </Paragraph>
  </Container>
  <CarruserTecnologies client:load/>
</section>