---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
import Heading1 from './ui/texts/Heading1.astro';
---

<div class="bg-black">
	<h1 class="text-2xl font-agrandir-heavy font-extrabold">GetWebsy</h1>
	<h1 class="text-2xl font-agrandir text-primary-text">GetWebsy</h1>
	<Heading1>
        Lleva tu <span class="text-gradient-custom">Negocio</span> al mundo digital 
    </Heading1>
</div>