---
import { twMerge } from 'tailwind-merge';

// Extrae props y separa `class`
const { class: className = "", ...rest } = Astro.props;

// Clases base del botón
const baseClasses = "px-6 h-[42px] bg-primary cursor-pointer inline-flex justify-center items-center  rounded-full transition-all hover:bg-primary/90";

// Combina usando twMerge
const finalClass = twMerge(baseClasses, className);
---

<button class={finalClass} {...rest}>
    <span class="text-sm translate-y-0.5 text-black font-agrandir-bold leading-none m-0 p-0 uppercase text-center">
        <slot />
    </span>
</button>
