---
import Caption from "./Caption.astro";
---

<div class="bg-primary leading-none rounded-sm w-fit py-0.5 px-2 uppercase ">
    <Caption class="leading-none text-tag-blue">
        <slot/>
    </Caption>
</div>