---
// Importar la función
import { twMerge } from 'tailwind-merge';

// Props
const { class: className = "", aos } = Astro.props;

// Clases base
const baseClasses = "text-md font-agrandir-bold text-secondary";

// Combinar usando twMerge
const finalClass = twMerge(baseClasses, className);
---

<h5 class={finalClass}, data-aos={aos}>
  <slot />
</h5>
